[submodule "API_REST_SLIM2"]
	path = API_REST_SLIM2
	url = https://github.com/OmarrLc/API_REST_SLIM2.git
[submodule "CRUD_BASICO_PHP"]
	path = CRUD_BASICO_PHP
	url = https://github.com/OmarrLc/CRUD_BASICO_PHP.git
